.title {
    color: #fff;
}

.sections-title {
    margin-left: 30px;
}
.my-name {
    margin: auto;
}

.toolbar-button {
    margin: 20px;
    font-size: 20px;
}

.section-title {
    padding-left: 20px;
}

.section-content {
    padding-left: 10px;
    font-size: 20px;
    font-weight: normal;
}

.title-bar {
    height: 60px;
}

.menu-button {
    color: #fff !important;
}

.content {
    background: lightgray;
}

.subsection-title {
    font-weight: bold;
}

.subsection-job {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 5px;
}

.subsection-location {
    font-weight: bold;
}

.subsection-timeframe {
    font-style: italic;
    float: right;
}

.contact-title {
    color: #606060;
    font-weight: 100;
}