<md-bottom-sheet class="md-list md-has-header">

    <md-subheader class="contact-title">
        <h2 class="contact-title">Contact Me!</h2>
    </md-subheader>
    
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label>First name</label>
            <input ng-model="user.firstname">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Last name</label>
            <input ng-model="user.lastname">
        </md-input-container>
    </div>
    

    
</md-bottom-sheet>